{
    "configurations": {
        "Launch": {
            "adapter": "vscode-cpptools",
            "configuration": {
                "name": "hello_world_debug",
                "request": "launch",
                "program": "${workspaceRoot}/a.out",
                "args": [],
                "cwd": "${workspaceRoot}",
                "environment": [],
                "externalConsole": true,
                "stopAtEntry": true,
                "MIMode": "gdb",
                "logging": {
                    "enableLogging": true
                }
            }
        }
    }
}
